<div class='pageInNavBar-inner'>
  {{#each _pages}}
    <button class='pageInNavBar-item' data-page-id='{{_id}}'>
        <div class='pageInNavBar-item-inner'>
          {{title}}
        </div>
      </button>
  {{/each}}
