<div class='pagesInNavBar-inner'>
  {{#each _pages}}
    <button class='page-item' data-page-id='{{_id}}'>
        <div class='page-item-inner'>
          {{title}}
        </div>
      </button>
  {{/each}}
